body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;

}
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
.container {
    height: 100vh;
    margin: auto;
    width: 80%;
    align-content: center;
}
.topbot{

    background-color: blue;
    height: 15%;
    width: 100%;
}
p {
    margin: auto;
    margin-left: 10px;

}
#body{
    height: 70%;
    width: 100%;
    overflow: hidden;
}
.left {
    padding: 0;
    margin: 0;
    background-color: yellow;
    display: inline-block;
    width: 20%;
    height: 100%;
    overflow: hidden;
}
.center {
    text-align: center;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: auto;
    height: 100%;
    overflow: hidden;
}
.right{
    padding: 0;
    margin: 0;
    background-color: yellow;
    display: inline-block;
    width: 20%;
    height: 100%;
    overflow: hidden;
    float: right;
}
#task1 {
    display: block;
    margin: 0 auto;
}

